<!DOCTYPE html>
<html lang="es-MX">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Calculadora</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
   <div class="calculator">
    <div class="header">
       <div class="window">
          <span class="red"></span>
          <span class="yellow"></span>
          <span class="green"></span>
       </div>
     <label class="display" for="displayInput">
     <input type="text" value="0" id="displayInput" placeholder="0" disabled>
    </div>
    <div class="keys">
       <div class="row">
         <div class="symbol">
            <span>(</span>
         </div>
         <div class="symbol">
            <span>)</span>
         </div>
         <div class="symbol">
            <span>*</span>
         </div>
         <div id="CE">
            <span class="dull">CE</span>
         </div>      
       </div>
       <div class="row">
          <div class="number">
             <span>7</span>
             <span>8</span>
             <span>9</span>
          </div>
          <div class="symbol">
             <span>/</span>
          </div>
       </div>
       <div class="row">
          <div class="number">
             <span>4</span>
             <span>5</span>
             <span>6</span>
          </div>
          <div class="symbol">
             <span>+</span>
          </div>
       </div>
       <div class="row">
          <div class="number">
             <span>1</span>
             <span>2</span>
             <span>3</span>
          </div>
          <div class="symbol">
            <span>-</span>
         </div>
       </div>
       <div class="row">
          <div class="number">
             <span class="dull">AC</span>
             <span>0</span>
             <span>.</span>
          </div>
          <div class="symbol action">
            =
          </div>
       </div>
    </div>
   </div>
   <div class="binaryTree">
      <img id="binaryTreeImage" src="" alt="Binary Tree">
   </div>
   <script>
      let resuelto = false;
      function updateBinaryTreeImage(imageUrl) {
       const binaryTreeImage = document.getElementById("binaryTreeImage");
       const uniqueUrl = `${imageUrl}?t=${new Date().getTime()}`; // Agregar timestamp para evitar caché
       if (binaryTreeImage) {
           binaryTreeImage.src = uniqueUrl;
       } else {
           const binaryTreeContainer = document.querySelector(".binaryTree");
           binaryTreeContainer.innerHTML = `<img id="binaryTreeImage" src="${uniqueUrl}" alt="Binary Tree">`;
       }
      }


      function evaluateExpression(expression, input) {
         console.log("Expresión a evaluar:", expression);
         try{
            fetch('/calcular', {
               method: 'POST',
               headers: {
                     'Content-Type': 'application/json',
               },
               body: JSON.stringify({ expression }),
            })
            .then(response => response.json())
            .then(data => {
              if (data.valid) {                        
                    input.value = data.result;
                    updateBinaryTreeImage(data.url);
                    resuelto = true;
              } else {                        
                    input.value = "Error: " + data.message;
              }
            })
            .catch(error => {
               console.error("Error al procesar la entrada:", error);
               input.value = "Error de conexión";
            });
         } catch (error) {
            console.error("Error al procesar la entrada:", error);
            input.value = "Error de conexión";
         }
      }

      document.addEventListener("keydown", function (event) {
          const input = document.getElementById("displayInput");
          const dullSpan = document.querySelector(".dull");
          const activeSpan = document.querySelector(".active");
          let currentValue = input.value;
          if(resuelto) {
             input.value = "0";
             resuelto = false;
             return;
          }
          if (/^\d$/.test(event.key)) {              
              input.value = currentValue === "0" ? event.key : currentValue + event.key;
              if (dullSpan) {
                 dullSpan.classList.replace("dull", "active");
              }
          } else if (["+", "-", "*", "/", "(", ")", "."].includes(event.key)) {              
              if (".".includes(event.key)) {
                  input.value = currentValue + event.key;
              } else {
                  input.value = currentValue + " " + event.key + " ";
              }
              if (dullSpan) {
                 dullSpan.classList.replace("dull", "active");
              }
          } else if (event.key === "Backspace" || event.key === "Delete") {                         
              input.value = currentValue.slice(0, -1) || "0";
              if ("E".includes(input.value)) {
                  input.value = "0";
              }
              if (currentValue.length >= 2 && currentValue.length < 3) {
                   const activeSpan = document.querySelector(".active");
                   if (activeSpan) {
                       activeSpan.classList.replace("active", "dull");
                   }
               } else if (currentValue.length === 1 && currentValue !== "0") {
                  const activeSpan = document.querySelector(".active");
                  if (activeSpan) {
                      activeSpan.classList.replace("active", "dull");
                  }
               }
          } else if (event.key === "Enter") {              
              const expression = input.value;
              evaluateExpression(expression, input);
          }
            
          event.preventDefault();
      });

      document.addEventListener("click", function (event) {
       if (event.target.tagName === "SPAN") {
           const value = event.target.textContent;
           const input = document.getElementById("displayInput");
           const dullSpan = document.querySelector(".dull");
           let currentValue = input.value;
           
           if (resuelto) {
               input.value = "0";
               resuelto = false;
           }
           
           if (/^\d$/.test(value)) {
               input.value = currentValue === "0" ? value : currentValue + value;
               if (dullSpan) {
                   dullSpan.classList.replace("dull", "active");
               }
           }           
           else if (["+", "-", "*", "/", "(", ")", "."].includes(value)) {
               input.value = currentValue + " " + value + " ";
               if (dullSpan) {
                   dullSpan.classList.replace("dull", "active");
               }
           }        
           else if (value === "Enter") {
               const expression = input.value;
               evaluateExpression(expression, input);
           }           
           else if (value === "AC" && event.target.classList.contains("active")) {
               input.value = "0";
               const activeSpan = document.querySelectorAll(".active");
               if (activeSpan) {
                   for (const span of activeSpan) {
                       span.classList.replace("active", "dull");
                   }
               }
           } else if (value === "CE" && event.target.classList.contains("active")) {
               input.value = currentValue.slice(0, -1) || "0";
               if (currentValue.length >= 2 && currentValue.length < 3) {
                   const activeSpan = document.querySelector(".active");
                   if (activeSpan) {
                       activeSpan.classList.replace("active", "dull");
                   }
               } else if (currentValue.length === 1 && currentValue !== "0") {
                  const activeSpan = document.querySelector(".active");
                  if (activeSpan) {
                      activeSpan.classList.replace("active", "dull");
                  }
               }
           }
       }
   });
  </script>
</html>